* {
    padding: 0;
    margin: 0;
}


.menu li {
    padding: 10px;
}

#header-background {
    background-image: url("./images/bg.jpeg");
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar-item:hover {
    border-bottom: 3px solid orange;
    padding: 0.5rem;
}

.navbar-item {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



#header-background::before {
    content: "";
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    position:absolute;
    /* position: relative; */
    top: 1%;
    display: flex;
    justify-content:space-between;
    width: 80%;
    padding: 0 10% 0 10%;
    height: auto;
    z-index: 2;    
 }


 .center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 10px;
}

.aboutme {
    display: flex;
    width: 85%;
    margin: auto;}

    .aboutme-img {
        width: 35%;
        height: auto;
        padding: 5%;
    }

    .aboutme-info {
        width: 65%;
        height: auto;
        padding: 5%;

    }

    .aboutme-img  img{
        width: 100%;
        height: auto;
        
    }

#about-body {
    position: absolute;
/* margin-top: 5px;     */
top: 145px;
    z-index: 4;
    background-color: white;
    /* opacity: 0.6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid orange;
}

#about-body h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#about-body h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;

}

.aboutme-info {
    text-align: center;
}

.aboutme-info h3 {
    font-size: 2rem;
}

.aboutme-info p {
    font-size:    1.5rem;
}

/* what i know */
/* chart */

#progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    z-index: 10;
    width: 80%;
  }
  
  #progressbar>div {
    background-color: #b32d00;
    width: 50%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
  }


  .ad {
      display: flex;
      width: 100%;
      height: 10rem;
      align-items: center;
      justify-items: center;
      margin-top: 2rem;
      margin-left: 0;
      background-color: bisque;
  }
  .ad div  {
      width: 25%;
      display: flex;
      height: 10rem;
      justify-content: center;
      align-items: center;
      /* background-color: aqua; */
  }


  .ad div img {
    width: 25%;
    height: 100%;
    height: 6rem;
}



#ref::after{
    content: "";
    display: block;
    width: 4rem;
    height: 6px;
    background: orange;
    left: 50%;
    /* right: 50%; */
    top: 80%;
    position: absolute;

}


#ref {
    position: relative;
}

.reference p {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }