* {
  margin: 0;
  padding: 0;
}

.container {
  /* position:absolute; */
  /* position: relative; */
  top: 1%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 10% 0 10%;
  background-image: url(/images/bg.jpeg);
  height: auto;
  /* z-index: 2;     */
  border-bottom: 2px solid orange;
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.icon {
  margin-left: 0px;
  padding-left: 0px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 10px;
}

.menu li {
  padding: 10px;
}

.navbar-item {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-item:hover {
  border-bottom: 3px solid orange;
  padding: 0.5rem;
}

/* main body */
.main-body {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3rem;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.title::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  bottom: 0%;
  height: 3px;
  background-color: orange;
  content: "";
}
h1 {
  text-align: center;
}
/* hgxgfvbjklk;lkjhv */
.sari {
  background-color: yellow;
}
