* {
  margin: 0;
  padding: 0;
}

.container {
  /* position:absolute; */
  /* position: relative; */
  top: 1%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 10% 0 10%;
  background-image: url(/images/bg.jpeg);
  height: auto;
  /* z-index: 2;     */
  border-bottom: 2px solid orange;
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.icon {
  margin-left: 0px;
  padding-left: 0px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 10px;
}

.menu li {
  padding: 10px;
}

.navbar-item {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-item:hover {
  border-bottom: 3px solid orange;
  padding: 0.5rem;
}

/* main body */
.main-body {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3rem;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.title::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  bottom: 0%;
  height: 3px;
  background-color: orange;
  content: "";
}
h1 {
  text-align: center;
}
/* hgxgfvbjklk;lkjhv */
/* .esas {
  display: flex;
  width: 80%;
  height: auto;
  background-color: aquamarine;
} */

/* form
 */

/* 
 */

section {
  display: flex;
  width: 100%;
  justify-content: center;
}

form {
  display: flex;
  width: 80%;
  /* background-color: aquamarine; */
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* background-color: blueviolet; */
  justify-content: center;

  /* padding: 1rem; */
}

form div input {
  margin: 1rem;
  width: 34rem;
  height: 2rem;
  display: flex;
}

form div textarea {
  width: 69rem;
  padding: 1rem;
}

.submit-but {
  width: 71rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  padding: 2rem;
  height: 2rem;
}

/* header */

header {
  height: 9rem;
  width: 100%;
  background-color: orange;
  display: flex;
}
header div {
  width: 33%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

header div i {
  /* display: inline; */
  font-size: 2rem;
}

.working-process-item::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.working-process-item {
  position: relative;
  background-color: red;
}
